@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */

@layer base {
  /* Default color scheme and properties */
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  /* Dark mode color scheme and properties */
  [data-theme="dark"] {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }

  :root {
    interpolate-size: allow-keywords;
  }
  * {
    @apply border-border;
  }
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-recuded-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  html {
    --header-height: 3.5rem;
    font-size: 16px;
    min-width: 320px;
    scroll-behavior: smooth;
    @apply scroll-pt-[--header-height] [scrollbar-gutter:stable];
  }
  body {
    @apply bg-background text-foreground font-sans antialiased flex flex-col;
    min-block-size: 100vh;
    font-weight: 360;
    line-height: calc(1em + 0.5rem);
  }
  main {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-semibold text-balance;
  }
  h1 {
    @apply ~text-7xl/8xl;
  }
  h2 {
    @apply ~text-6xl/7xl;
  }
  h3 {
    @apply ~text-5xl/6xl;
  }
  h4 {
    @apply ~text-4xl/5xl;
  }
  h5 {
    @apply ~text-2xl/4xl;
  }
  h6 {
    @apply ~text-xl/2xl;
  }
  p {
    @apply ~text-base/xl text-pretty tracking-wider;
  }
  :where(.content) a[href] {
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    transition: all 300ms ease;
    &:is(:hover, :focus) {
      color: hsl(var(--primary));
    }
  }
  main > section {
    scroll-margin-block: 2rem;
  }
}

@layer components {
  .content {
    --content-delay: 100ms;
    max-width: 1920px;
    opacity: 1;
    filter: blur(0px);
    transition:
      opacity 500ms ease var(--content-delay),
      filter 700ms ease calc(var(--content-delay) + 100ms);

    @starting-style {
      filter: blur(10px);
      opacity: 0;
    }

    @apply mx-auto ~px-4/8 ~py-8/12;
  }

  .button {
    @apply rounded relative bg-primary shadow-none px-5 py-2.5 text-sm font-medium text-white shadow inline-flex transition;
    &:is(:hover, :focus) {
      @apply shadow-lg;
      background: hsl(from hsl(var(--primary)) h s calc(l * 1.3));
    }
  }

  #thumbnails {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    margin-inline: auto;
    & > li {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      @apply shadow-lg hover:shadow-xl hover:shadow-primary/25 transition-shadow duration-500;
      & > a {
        display: inline-flex;
        aspect-ratio: 1;
        block-size: 100%;
        inline-size: 100%;
        max-inline-size: 180px;
        background: #fff;
        border: 1px solid hsl(var(--border));
        transition: border-color 200ms ease;
        &:is(:hover, :focus) {
          border-color: hsl(var(--primary) / 0.5);
          & img {
            transform: scale(1.1);
          }
        }
        & > img {
          margin: auto;
          block-size: 100%;
          inline-size: 80%;
          object-fit: contain;
          object-position: center;
          transform: scale(1);
          transition: transform 200ms ease;
        }
      }
    }
  }
}

@layer utilities {
  :where(h1, h2, h3, h4, h5, h6):is(.accent-underline) {
    position: relative;
    width: fit-content;
    &::after {
      content: "";
      display: block;
      position: relative;
      width: 33%;
      height: 6px;
      margin-top: 12px;
      margin-inline: auto;
      background: hsl(var(--primary));
      border-radius: 3px;
    }
  }
  :where(h1, h2, h3, h4, h5, h6):is(.accent-thruline) {
    --accent-height: 3px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 0 1 auto;
    text-transform: uppercase;
    &:where(.line-start) {
      &::before {
        content: "";
        display: block;
        position: relative;
        z-index: -1;
        flex: 1 0 auto;
        height: var(--accent-height);
        right: 0;
        background: linear-gradient(
          to right,
          hsl(var(--border) / 0),
          hsl(var(--border) / 0.5) 50%,
          hsl(var(--border)) 100%
        );
        border-radius: 3px;
      }
    }
    &:where(.line-end) {
      &::after {
        content: "";
        display: block;
        position: relative;
        z-index: -1;
        flex: 1 0 auto;
        height: var(--accent-height);
        left: 0;
        background: linear-gradient(
          to left,
          hsl(var(--border) / 0),
          hsl(var(--border) / 0.5) 50%,
          hsl(var(--border)) 100%
        );
        border-radius: 3px;
      }
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-blur {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes item-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes item-in-right {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes slide-scale-in-bottom {
    0% {
      transform: translateY(100px);
      scale: 0.8;
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      scale: 1;
      opacity: 1;
    }
  }
}
