---
// Contact information section
// TODO: Add email contact form
---

<div class="content max-w-screen-lg ~py-12/24">
  <h3 class="accent-underline mb-8">Contact Us</h3>
  <div class="flex flex-col justify-center ~space-y-8/16">
    <div>
      <h6 class="accent-thruline line-start">Green Lion Innovations</h6>
      <p class="text-right">
        <a href="mailto:mike@greenlioninnovations.com"
          >mike@greenlioninnovations.com</a
        >
      </p>
    </div>
  </div>
</div>
