---
import {
  Design,
  Innovation,
  Manufacturing,
  Referal,
  Source,
} from "@/components/icons";
---

<ul
  id="services"
  class="~text-xl/2xl lg:~text-base/3xl text-center flex flex-col gap-4 w-fit mx-auto"
>
  <li><Design /> <span>Product Design</span></li>
  <li><Innovation /> <span>Product Innovation</span></li>
  <li><Source /> <span>Sourcing</span></li>
  <li><Manufacturing /> <span>Product Manufacturing</span></li>
  <li><Referal /> <span>Best-in-class Referrals</span></li>
</ul>

<style>
  #services > li {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
