---
// List of primary company services section

import {
  Design,
  Innovation,
  Manufacturing,
  Referal,
  Source,
} from "@/components/icons";
---

<ul id="services" class="~text-xl/4xl xl:~text-2xl/3xl">
  <li><Design /> <span>Product Design</span></li>
  <li><Innovation /> <span>Product Innovation</span></li>
  <li><Source /> <span>Sourcing</span></li>
  <li><Manufacturing /> <span>Product Manufacturing</span></li>
  <li><Referal /> <span>Best-in-class Referrals</span></li>
</ul>

<style>
  :where(#services) {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin-inline: auto;
    & > li {
      display: flex;
      align-items: center;
      gap: 1rem;
      & > span {
        @apply text-muted-foreground;
      }
      & > svg {
        filter: drop-shadow(0 0 3px hsl(var(--primary) / 0.8));
      }
    }
  }
</style>
