---
// Current company associates section

import Profile from "@/components/elements/profile.astro";
import ExternalLink from "../elements/external-link.astro";
---

<div class="content py-8 mt-12 max-w-screen-2xl">
  <header class="flex flex-col items-center justify-center">
    <h2 class="accent-underline">Our Team</h2>
  </header>
  <div id="team-list" class="mx-auto px-4 py-8 sm:px-6 sm:py-12">
    <h6 class="text-primary mb-4 lg:mb-8 accent-thruline line-end">
      Green Lion Innov.
    </h6>
    <ul id="gli-team" class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-24">
      <li class="flex flex-col space-y-4">
        <Profile
          name="Mike Bologna"
          title="CEO"
          image="https://static.wixstatic.com/media/0c8290_6c5c3d5af8564e73bab6fc207fe925ce~mv2_d_2400_3000_s_4_2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/mike-headshot-2.jpg"
        >
          <p>
            Mike Bologna is a decisive and personable leader with a
            comprehensive background in managing and consulting for projects in
            supply chain technology, operational strategy, and process analysis.
            Using this experience, Mike focuses on enabling organizational
            success by building a sustainable framework for growth, improving
            efficiencies, and bringing socially conscious processes to the
            forefront.
          </p>

          <p>
            Mike draws upon experience in supply chains ranging from aerospace
            engineering and coffee and tea manufacturing to genetic sequencing
            and vaporizer manufacturing to identify and target business
            opportunities from various perspectives.
          </p>

          <p>
            Within the cannabis industry, Mike plays an integral role for
            multiple companies concurrently; each having their own challenes and
            specific needs. He is the CEO for Green Lion's internal companies
            and an active advisor for many of their portfolio companies, most
            notably Whoopi and Maya.
          </p>
        </Profile>
      </li>
      <li class="flex flex-col space-y-4">
        <Profile
          name="Matt Watson"
          title="CDO"
          image="https://static.wixstatic.com/media/0c8290_0f1caa342f84438fbc6978eb52a61108~mv2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/0c8290_0f1caa342f84438fbc6978eb52a61108~mv2.jpg"
        >
          <p>
            Matt Watson entered into the cannabis industry in early 2000's as a
            Glassblower in the retail market. He opened his first retail
            store/glass gallery in 2009. He has an extensive knowledge base
            ranging from the art of glassblowing to many electronic applications
            used in the market as well as experience with the retail market and
            consumers. He has experience in designing and manufacturing
            revolutionary products for the cannabis industry and released his
            first electronic dabbing device in 2015 holding both Chinese and US
            patents. Since then Matt has been the lead product developer for
            both <ExternalLink href="https://dipdevices.com"
              >Dip Devices</ExternalLink
            > and Green Lion Innovations, constantly leading the market with his
            innovation.
          </p>
        </Profile>
      </li>
      <li class="flex flex-col space-y-4">
        <Profile
          name="Jeff Dayton"
          title="Partner"
          image="https://static.wixstatic.com/media/0c8290_837b0347836044a6a319d5898ffa9498~mv2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/0c8290_837b0347836044a6a319d5898ffa9498~mv2.jpg"
        >
          <p>
            Jeff Dayton built the investor network at <ExternalLink
              href="https://www.arcviewgroup.com/"
              >The Arcview Group</ExternalLink
            > and is currently the Vice President of Strategy at TRP Co. He is also
            a Partner at <ExternalLink href="https://dipdevices.com"
              >Dip Devices</ExternalLink
            > and Green Lion Innovations. He's been a longtime advocate for drug
            policy reform and continues to diversify his investments of time and
            capital across the cannabis, health/wellness, and real estate sectors.
          </p>
        </Profile>
      </li>
      <li class="flex flex-col space-y-4">
        <Profile
          name="Ashley Smith"
          title="Operations"
          image="https://static.wixstatic.com/media/0c8290_e2d9dd446b0f46b49743509d2a574564~mv2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/0c8290_e2d9dd446b0f46b49743509d2a574564~mv2.jpg"
        >
          <p>
            Based in Houston, TX, Ashley Smith has 8 years of experience in
            Marketing Management and Coordination. Beginning with artist and
            gallery promotion, small businesses, and start-ups she later moved
            on to work in event coordination, photography, graphic design, and
            sales. In 2022 she moved into the Marketing Coordination role with
            Dip Devices and Operations position within GLI introducing her to
            businesses within the cannabis industry.
          </p>
        </Profile>
      </li>
    </ul>
  </div>
  <div id="team-list" class="mx-auto px-4 py-8 sm:px-6 sm:py-12">
    <h6 class="text-right text-primary mb-4 lg:mb-8 accent-thruline line-start">
      Green Lion Partners
    </h6>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-24">
      <li class="flex flex-col space-y-4">
        <Profile
          name="Jeffrey Zucker"
          title="President"
          image="https://static.wixstatic.com/media/0c8290_10ba7378e7f24cdf8845fe86574c6086~mv2_d_2400_3000_s_4_2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/jeff-headshot.jpg"
        >
          <p>
            Jeffrey M. Zucker is a serial entrepreneur with experience in a wide
            range of industries including real estate, hospitality,
            entertainment, design, and cannabis. He serves as President of Green
            Lion Partners and is involved in all company activity.
          </p>

          <p>
            Born and raised in Charleston, SC, Jeffrey is a graduate of Boston
            University. While at BU, he began founding multiple real estate
            businesses, which developed into his parent company, Saltshaker
            Holdings. Saltshaker continues to manage a thriving real estate
            portfolio and angel investments. Jeffrey has since founded start-ups
            in hospitality, film production, and design including Big Smits
            Entertainment, which develops web and TV series. A drug policy
            activist, Jeffrey is the Vice Chair of the board of directors of the
            <ExternalLink href="https://www.mpp.org"
              >Marijuana Policy Project (MPP)</ExternalLink
            >
            and in 2021 started a podcast, <ExternalLink
              href="https://www.peoplearetheanswer.com"
              >People are the Answer</ExternalLink
            >, where he interviews innovators in social impact.
          </p>

          <p>
            Jeffrey makes all of his business decisions with combined goals of
            profit and purpose, which includes a desire to carry on his late
            father’s mission to improve the world.
          </p>
        </Profile>
      </li>

      <li class="flex flex-col space-y-4">
        <Profile
          name="Joe Primavera"
          title="Director of Operations"
          image="https://static.wixstatic.com/media/0c8290_7f46f7d289a646cab176930d7b026869~mv2_d_2400_3000_s_4_2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/joe-headshot.jpg"
        >
          <p>
            Joe Primavera is a detail-oriented and well-rounded professional
            with a background spanning from software implementations to
            financial analysis.
          </p>

          <p>
            Having both a Juris Doctor and a degree in Business Administration,
            he pairs his education with practical experience leading teams in a
            variety of industries, including media production, cannabis business
            strategy, and process manufacturing. This diversity of skill allows
            Joe to thrive in fast-paced, dynamic environments requiring
            versatile thought process and execution.
          </p>
        </Profile>
      </li>
      <li class="flex flex-col space-y-4">
        <Profile
          name="Jeff Tyner"
          title="Director of Media"
          image="https://static.wixstatic.com/media/0c8290_99d75fd23ae0409a8dfdd300bb356b38~mv2_d_2400_3000_s_4_2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Tyner-headshot-4.jpg"
        >
          <p>
            Jeff Tyner is a multimedia professional with a background in areas
            ranging from print, digital, and social media to video and film
            production.
          </p>

          <p>
            A Charleston, SC native, Tyner graduated from Bowling Green State
            University with a BA in film production as well as an AD in graphic
            design from Trident Technical College. Gaining experience at the
            local level, Tyner began his career with the South Carolina
            Stingrays of the ECHL and later the Charleston Riverdogs of the
            MiLB. He spent the three years prior to joining GLP covering the
            University of South Carolina's football program as a Multimedia
            Specialist in the <ExternalLink href="https://www.rivals.com"
              >Rivals.com</ExternalLink
            > network.
          </p>
        </Profile>
      </li>
      <li class="flex flex-col space-y-4">
        <Profile
          name="Kait Grey"
          title="Executive Assistant"
          image="https://static.wixstatic.com/media/0c8290_9ecc421e66e84af09eb6fb2c1214550e~mv2_d_2400_3000_s_4_2.jpg/v1/fill/w_640,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/kait-headshot.jpg"
        >
          <p>
            Kait hails from Los Angeles, CA, where she started her career as an
            Executive Assistant within the Film Industry. She later moved into
            the Real Estate Investment space where she became Executive
            Assistant to the CEO of a San Diego-based investment firm that has
            completed over $5 billion in commercial Real Estate transactions
            over the past decade.
          </p>

          <p>
            In 2014, Kait joined the fight against Cannabis prohibition and
            helped start a medical marijuana consulting firm assisting their
            clients and partners to pursue altruistic avenues aimed at
            revitalizing the areas in which they operate. Kait moved to Colorado
            in 2015 and became certified in Trimming & Harvesting, POS Systems
            for dispensaries, as well as budtending.
          </p>
        </Profile>
      </li>
    </ul>
  </div>
</div>

<style>
  /* 
   * Animate in team member cards when scrolling, 
   * when using a browser that supports animation-timeline 
   * and reduced motion is not preferred. 
   */
  @supports (animation-timeline: scroll()) {
    @media (--motionOK) {
      #team-list ul {
        opacity: 1;
        @media (--lg-min) {
          animation: fade-in forwards;
          animation-timeline: scroll();
          animation-range: entry;
          animation-range: 0 100px;
        }
        & > li {
          animation: item-in-left forwards;
          animation-timeline: view();
          animation-range: 0 33%;
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          @media (--lg-min) {
            animation-range: entry;
          }
        }
        & > li:nth-child(2n) {
          animation: item-in-right forwards;
          animation-timeline: view();
          animation-range: 0 33%;
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          @media (--lg-min) {
            animation-range: entry;
          }
        }
      }
    }
  }
</style>
